.toggle-container {
padding: 3px;
background-color: lightgray;
border-radius: 10px;

height: 34px;
}

.toggle-segment {
    float: left;
    width: 50%;
    background-color: lightgray ;
    border-radius: 10px;

    padding: 5px;
}

.toggle-segment-label {
    text-align: center;
}

.toggle-segment.active {
    font-weight: bold;
    background-color: #FFF ;
}
